.imgSlider{
   height: 550px;
   width: 100%;
}
h2{
    font-size: 35px !important;
}

.navbar-expand-lg{
    height: 65px;
}
@media (max-width:1000px){
    .imgSlider{
        height: 450px;
    }
}

.noticeTitle{
    color: black;
}
.noticeTitle:hover{
    text-decoration: none;
}
